@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

.typing-dot-1 {
  animation-delay: 0ms;
}

.typing-dot-2 {
  animation-delay: 150ms;
}

.typing-dot-3 {
  animation-delay: 300ms;
}

.cover-gradient {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
